<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="martian.riddles">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name="martian.riddles.controllers.GetContextClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="martian.riddles.view.InfoActivity"
            android:label="Info Activity"
            android:theme="@style/AppTheme"></activity>
        <activity android:name="martian.riddles.view.DoneActivity" />
        <activity
            android:name="martian.riddles.view.LogupActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3637770884242866~1157864308" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="martian.riddles.view.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="martian.riddles.view.QuestionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"> <!-- android:windowSoftInputMode="stateHidden|adjustResize" -->
        </activity>
    </application>

</manifest>